<div class="page-header">
  <%= link_to new_ecomic_frame_path(@ecomic), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Frame
  <% end %>
  <%= link_to "Ecomic: #{@ecomic.name}", @ecomic, class: 'btn btn-default'%>
  <h1>Listing frames</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ecomic</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @frames) do |frame| %>
        <td><%= frame.name %></td>
        <td><%= frame.ecomic_id %> : <%= frame.ecomic_name %></td>
        <td><%= link_to 'Show', ecomic_frame_path(@ecomic, frame) %></td>
        <td><%= link_to 'Edit', edit_ecomic_frame_path(@ecomic, frame) %></td>
        <td><%= link_to 'Destroy', ecomic_frame_path(@ecomic, frame), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
